<launch>
    <node name="telemtry_display" pkg="cassiopeia" type="telemetry_display.py"/>
    <node name="video_receiver" pkg="cassiopeia" type="h265client.sh"/>
    <node name="wiimote_driver" pkg="cassiopeia" type="wiimote.sh"/>
    <node name="base_input" pkg="cassiopeia" type="base_input.py"/>
    <node pkg="rosbag" type="record" name="record" output="screen" args="-a"/>
</launch>