<launch>
    <env name="ROS_MASTER_URI" value="http://robert-desktop:11311" />
    <env name="BASE_IP" value="robert-desktop" />
    <node name="video_transmitter" pkg="cassiopeia" type="h265server.sh" />
    <node name="camera_controller" pkg="cassiopeia" type="camera_controller.py"/>
    <node name="motor_controller" pkg="cassiopeia" type="motor_controller.py" />
    <node pkg="cassiopeia" type="imu_node.py" name="imu_driver" />
    <node pkg="cassiopeia" type="environmental_sensor_node.py" name="environmental_sensor_driver" />
    <node pkg="cassiopeia" type="connection_strength_pub.py" name="connection_strength_pub" />
</launch>